<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<filter>
		<filter-name>weChatFilter</filter-name>
		<filter-class>cn.newtouch.inf.util.WeChatFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>weChatFilter</filter-name>
		<url-pattern>/WeChatInf</url-pattern>
	</filter-mapping>

	
	<servlet>
		<servlet-name>WeiXinInf</servlet-name>
		<servlet-class>cn.newtouch.inf.action.WeChatAction</servlet-class>
	</servlet>
	<!-- 微信请求统一入口 -->
	<servlet-mapping>
		<servlet-name>WeiXinInf</servlet-name>
		<url-pattern>/WeChatInf</url-pattern>
	</servlet-mapping>

</web-app>
