<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 文本处理 -->
	<bean id="textReceviService" class="cn.newtouch.inf.service.impl.TextReceviService"></bean>
	
	<!-- 语言处理 -->
	<bean id="voiceReceviService" class="cn.newtouch.inf.service.impl.VoiceReceviService"></bean>

	<bean id="wechatMng" class="cn.newtouch.inf.service.WeChatMng">
		<property name="map">
			<map>
				<entry key="text">
					<ref local="textReceviService"/>
				</entry>
				<entry key="voice">
					<ref local="voiceReceviService"/>
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- spring启动时加载spring工具类  -->
	<bean id="springUtils" class="cn.newtouch.inf.util.SpringContextUtils"></bean>
	
</beans>